.my-price-three{
  position: relative;
}

 .sort-tb{
   height: auto;
   table-layout:fixed;
   padding: 0.69rem;
   width: 27.66rem;
   margin: auto;
   margin-top:1.2rem;
   border-radius: 0.57rem;
   border: 2px solid #FE4744;
   border-right: none;
   border-left: none;
   background: #FFFFFF;
   padding-left: 0.6rem;
   color: #FE4744;
   font-size: 1rem;
   box-sizing:border-box;

 }
.head{
  width: 2.88rem;
  height:2.88rem;
  border-radius: 1.44rem;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #E5E5E5;
  margin-left:0.63rem;
  margin-right: 0.63rem;
}
.sort-prize{
   width: 3.519rem;
   height: 3.03rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #E5E5E5;
}
td{
  width: 12%;
  padding-right: 0.6rem;
  -ms-word-break: break-all;
  word-break: keep-all; word-wrap:break-word;
}
.sort_name_w{
  width:120%;
  word-break: break-all;
}
.un_do{
  display: inline-block;
  font-family: '.PingFangSC-Regular';
  font-size: 1rem;
  color: #888888;
  letter-spacing: -0.41px;
  margin: 1.2rem 0 1.2rem 0;

}
