.my-prize-five{
  position: relative;
  padding-bottom: 7rem;
}
.coupon{
  height: 6.798rem;
  width: 27.519rem;
  margin: auto;
  margin-top: 1.2rem;
position: relative;

}
/*.get{
  background: url("../../assets/images/yhj.png")no-repeat;
  background-size: 100% 100%;
}*/
.gone{
  background: url("../../assets/images/gone.png")no-repeat;
  background-size: 100% 100%;
}
.already{
  background: url("../../assets/images/already.png")no-repeat;
  background-size: 100% 100%;
}
.coupon_icon{
  width: 5rem;
  height: 5rem;
  line-height: 0.54rem;
  vertical-align: middle;
  position: absolute;
  right: 0.9rem;
  top:0;
  bottom: 0;
  margin: auto;

}
.money{
  display: inline-block;
  height:6.798rem;
  width:7.5rem;
  line-height:6.798rem;
  font-family: 'LucidaGrande';
  vertical-align: top;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: -0.83px;
  span{
    font-family: '.PingFangSC-Regular';
    font-size:3rem;
    color: #FFFFFF;
    letter-spacing: -2px;
  }
}
.m-text{
  font-family:'PingFangSC-Regular';
  font-size: 1rem;
  letter-spacing: -1.02px;
  display: inline-block;
  padding-left: 1.2rem;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  height: 4.56rem;
  p{
    margin-top: 0.42rem;
    white-space: nowrap;
    font-family: 'PingFangSC-Regular';
    font-size: 1rem;
    color:gray;
    letter-spacing: -1.02px;
  }
}
.use{
  height: 1.83rem;
  line-height: 1.83rem;
  text-align: center;
  width: 5.598rem;
  font-family: PingFangSC-Regular;
  font-size: 1rem;
  color: #D11414;
  letter-spacing: 0.33px;
  border: 1px solid #D11414;
  background: none;
  border-radius:0.9rem ;
  position: absolute;
  z-index: 88;
  top: 50%;
  transform: translateY(-50%);
  right: 0.9rem;
  box-sizing: border-box;
}
.no_things{
  font-family: '.PingFangSC-Regular';
  padding-left: 2.4rem;
  font-size: 1rem;
  color: #888888;
  letter-spacing: -0.41px;
}
