.my-prize-five{
  position: relative;
}
.coupon{
  height: 22.66vw;
  width: 91.73vw;
  margin: auto;
  margin-top: 4vw;
position: relative;
}
/*.get{
  background: url("../../assets/images/yhj.png")no-repeat;
  background-size: 100% 100%;
}*/
.gone{
  background: url("../../assets/images/gone.png")no-repeat;
  background-size: 100% 100%;
}
.already{
  background: url("../../assets/images/already.png")no-repeat;
  background-size: 100% 100%;
}
.coupon_icon{
  width: 18vw;
  height: 18vw;
  line-height: 18vw;
  vertical-align: middle;
  position: absolute;
  right: 3vw;
  top:0;
  bottom: 0;
  margin: auto;

}
.money{
  display: inline-block;
  height: 22.66vw;
  width: 25vw;
  line-height:22.66vw;;
  font-family: 'LucidaGrande';
  vertical-align: top;
  font-size: 5rem;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: -0.83px;
  span{
    font-family: '.PingFangSC-Regular';
    font-size:7rem;
    color: #FFFFFF;
    letter-spacing: -2px;
  }
}
.m-text{
  font-family:'PingFangSC-Regular';
  font-size: 1rem;
  letter-spacing: -1.02px;
  display: inline-block;
  padding-left: 4vw;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  height: 15.2vw;
  p{
    margin-top: 1.4vw;
    white-space: nowrap;
    font-family: 'PingFangSC-Regular';
    font-size: 3rem;
    color:gray;
    letter-spacing: -1.02px;
  }
}
.use{
  height: 6.1vw;
  line-height: 6.1vw;
  text-align: center;
  width: 18.66vw;
  font-family: PingFangSC-Regular;
  font-size: 3rem;
  color: #D11414;
  letter-spacing: 0.33px;
  border: 1px solid #D11414;
  background: none;
  border-radius:3vw ;
  position: absolute;
  z-index: 88;
  top: 50%;
  transform: translateY(-50%);
  right: 3vw;
  box-sizing: border-box;
}
.no_things{
  font-family: '.PingFangSC-Regular';
  padding-left: 8vw;
  font-size: 3.2rem;
  color: #888888;
  letter-spacing: -0.41px;
}
