.my-prize-one{
  height: 410px;
  width: 100vw;
  /*background: url("../../assets/images/bg@2x.png")no-repeat;*/

  overflow: hidden;
  position: relative;
}
.rules{
  display: inline-block;
  background: #F88C8C;
  border-radius: 2.5vw 0 0 2.5vw;
  color: white;
  width: 17vw;
  font-size: 3rem;
  line-height:5.5vw;
  text-align: center;
  vertical-align: middle;
  padding-left: 1.5vw;
  position: absolute;
  right: 0;
  top: 7vw;
}
.j_card{
  display: block;
  position: absolute;
  bottom:4vw;
  right: 4vw;
  color: #FE4744;
  font-size: 3rem;
}

.carousel-3d-container {
  height: 320px;
  .carousel-3d-slide {
    border: none;
    padding: 20px;
    height: 620px!important;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius:15px;
    top:-100px;
    opacity: 0.7!important;
    .title { font-size: 22px;}
  }
}

.carousel-3d-slide.current{
  height: 298px!important;
  opacity: 1!important;
  top:0;
}
.Pop-ups{
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.60);
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
}
.img{
  width: 90.1vw;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  background: white;
  z-index: 2;
}
.img_margin{
  width: 90.1vw;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  background: white;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2vw;
  z-index: 2;
}
.img_rules{
  width: 100%;
  height: 182.933vw;
 /* background:url("../../assets/images/activeRu.png") no-repeat;
  background-size: 100% 100%;*/
  position: relative;
  /*border-radius: 2vw;*/
  overflow-y: hidden;
}
.close_x{
  display: block;
  width: 5.33vw;
  height: 5.33vw;
  background: url("../../assets/images/x@2x.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:2.5vw;
  right: 3.5vw;
}
