.s-card{
  width: 4.41rem;
  height: 4.95rem;
  border-radius: 0.558rem;
  border:1px solid gainsboro ;
  display: inline-block;
  margin-right: 2.175rem;
  position: relative;
  &:first-child{
    margin-left: 2.22rem;
  }
  .card-badge{
    padding-left: 0.525rem;
    padding-right: 0.525rem;
    height:1.371rem;
    border-radius: 0.81rem;
    line-height:1.371rem;
    background: #FFFFFF;
    border:1px solid  #F98B0E;
    font-family: '.PingFangSC-Regular';
    font-size: 1rem;
    color: #F98B0E;
    letter-spacing: -0.5px;
    position: absolute;
    right: -0.9rem;
    top:-0.45rem;
  }
}
.red-border{
  padding: 0.14rem;
  border-image:url("../../assets/images/select.png") 5 5 stretch;
}
