.s-card{
  width: 14.7vw;
  height: 16.5vw;
  border-radius: 1.86vw;
  border:1px solid gainsboro ;
  display: inline-block;
  margin-right: 7.25vw;
  position: relative;
  &:first-child{
    margin-left: 7.4vw;
  }
  .card-badge{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    height:4.57vw;
    border-radius: 2.7vw;
    line-height:4.57vw;
    background: #FFFFFF;
    border:0.5px solid  #F98B0E;
    font-family: '.PingFangSC-Regular';
    font-size: 3rem;
    color: #F98B0E;
    letter-spacing: -0.5px;
    position: absolute;
    right: -3vw;
    top:-1.5vw;
  }
}
.red-border{
  padding: 0.4vw;
  border-image:url("../../assets/images/select.png") 4 4 stretch;
}
