.my-prize{
  background: #FFFBFD;
  padding-bottom: 4vh;
}
.margin_top{
  margin-top: 12vw;
}
.my-tb{
  height:auto;
  overflow: hidden;
  table-layout:fixed;
  width: 92.2vw;
  margin: auto;
  margin-top:4vw;
  border-radius: 1.9vw;
  border: 2px solid #FE4744;
  border-right: none;
  border-left: none;
  background: #FFFFFF;
  padding-left: 4vw;
  padding-right: 4vw;
  color: #FE4744;
  font-size: 3rem;
  box-sizing:border-box;
  padding-top: 3vw;
  li{
    width: 50%;
    float: left;
    text-align: left;
    margin-bottom: 2vw;
    height: 6.4vw;
    line-height: 6.4vw;
    &:nth-child(2){

      text-align: right;
      vertical-align: top;
    }
    &:last-child{
      width: 100%;
      text-align:left;
      font-family: '.PingFangSC-Regular';
      font-size: 3rem;
      color: #9C9C9C;
      letter-spacing:-1px;
      margin-bottom: 1.5vw;
      line-height: normal;
      height: auto;
    }
  }

  .btn{
    border: 1px solid #FE4744;
    background: none;
    border-radius: 26.66vw;
    width: 22.66vw;
    height: 6.4vw;
    font-family: '.PingFangSC-Regular';
    font-size: 3rem;
    color: #FE4744;
  }
}

@media  (max-width: 320px) {
  .my-tb li:last-child {
    font-size: 3rem;

  }
}
.prize_text{
white-space: nowrap;
}
.confirm_z{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top:0;
  background: rgba(0, 0, 0, 0.6);
}
.confirm_14{
  z-index: 9999;
  width: 66.66vw;
  height: 37.33vw;
  border-radius: 2.13vw;
  color:#FF3C07 ;
  background: white;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
/*  padding:8vw 5.86vw 0 5.86vw;*/
  font-size: 3.7vw;
  line-height: 1.5;
  border: 0.5px solid #FF3C07;
  p{
    padding: 8vw 5.86vw 0 5.86vw;
  }

}
.btn_bot{
  display: flex;
  width: 66.66vw;
  height: 10.4vw;
  border-radius:0 0 2.13vw 2.13vw!important;
  background:#FF3C07;
  position: absolute;
  bottom: 0;
  line-height: 10.4vw;
}
.btn_14{
  flex: 1;
  color: white;
  height: 7vw;
  line-height: 7vw;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top:0;
  bottom: 0;
  margin: auto;
  &:first-child{
    border-right: 0.5px solid white;
  }
}
.Cover_all{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 999;
  .Cover{
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.7;
  }
  .img{
    height: 80vw;
    width: 80vw;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .close{
    width: 8vw;
    height:8vw;
    background: url("../../assets/images/close.png")no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:8.9vw;
    right:8.9vw;
  }

}
.fade-enter-active, .fade-leave-active {
 /* transform:scale(1);*/
  transition: all 1s ;
  opacity:1
}
.fade-enter, .fade-leave-active {
  opacity: 0;
 /* transform:scale(0.1);*/
  transition: all 1s

}
.d_success{
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  line-height: 20vw;
  text-align: center;
  color:  #e32c2c;
  border: 0.1px solid #e32c2c;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: ghostwhite;
}
.confirm_17{
  height: 10vw!important;
  line-height: 10vw;
  padding: 0!important;
}
