.my-price-three{
  position: relative;
}

 .sort-tb{
   height: auto;
   table-layout:fixed;
   padding: 2.3vw;
   width: 92.2vw;
   margin: auto;
   margin-top:4vw;
   border-radius: 1.9vw;
   border: 2px solid #FE4744;
   border-right: none;
   border-left: none;
   background: #FFFFFF;
   padding-left: 2vw;
   color: #FE4744;
   font-size: 0.8rem;
   box-sizing:border-box;

 }
.head{
  width: 9.6vw;
  height: 9.6vw;
  border-radius: 4.8vw;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #E5E5E5;
  margin-left:2.1vw;
  margin-right: 2.1vw;
}
.sort-prize{
   width: 11.73vw;
   height: 10.1vw;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #E5E5E5;
}
td{
  width: 12%;
  padding-right: 2vw;
  -ms-word-break: break-all;
  word-break: keep-all; word-wrap:break-word;
}
.un_do{
  display: inline-block;
  font-family: '.PingFangSC-Regular';
  font-size: 3rem;
  color: #888888;
  letter-spacing: -0.41px;
  margin: 4vw 0 4vw 0;

}
