.my-prize-four {
  position: relative;
}

.my-user {
  margin-top: 1.5rem;
  padding:0.9rem 1.26rem 0 1.26rem;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  li {
    margin-bottom:0.36rem;
    float: left;
    width: 12.87rem;
    height: 3.438rem;
    line-height: 3.438rem;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    &:nth-child(odd) {
      margin-right: 0.798rem;
    }

  }
}

.user-head {
  width: 2.478rem;
  height: 2.478rem;
  vertical-align: middle;
  margin: 0 0.9rem 0 0.9rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #E4E4E4;

}
.name{
  vertical-align: middle;
  line-height: 2.478rem;
  display: inline-block;
  width: 7.5rem;
  height: 2.478rem;
  white-space: nowrap;
  word-wrap:break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: '.PingFangSC-Regular';
  font-size: 1rem;
  color: #494949;
  letter-spacing: -0.5px;
}
.null_people{
  background:url("../../assets/images/head_k.png") no-repeat;
  background-size: 100% 100%;
}
